<!--
  ~ Copyright © MobiLab Solutions GmbH
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mobilabsolutions.stash.adyen">

    <application>
        <activity android:name=".ThreeDsHandleActivity">

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="${applicationId}"
                    android:scheme="adyencheckout" />
            </intent-filter>

        </activity>
        <activity android:name=".AdyenTestActivity" />
    </application>
</manifest>
